.logo
    font-family Pacifico
    font-size 1.5em !important

.auth-background
    position absolute
    background url('../images/food.jpg') 100%
    filter blur(5px)
    transform scale(1.03)

.auth-card-container
    position relative

.auth-card
    margin-top 100px
    
.auth-button
    color white !important