.app-content
    background-color #f6f5f6
    align-items center

.main-content
    display flex
    flex-wrap wrap
    justify-content center
    position relative
    max-width 1040px
    top 20px

.main-add-meal
    position fixed
    right 40px
    bottom 20px

.main-filter
    position fixed
    right 40px
    bottom 90px

.add-meal-dialog
    width 350px

.add-meal-date
    position relative
    left -12px

.color-white
    color #fff !important