.auth-background
    position absolute
    background url('../images/food.jpg') 100% center

.auth-card-container
    position relative

.auth-card
    margin-top 100px
    
.auth-button
    color white !important