@import 'colors'

.ih-container
    width 100%

.info-header
    position relative
    width 100%
    height 350px
    -webkit-transition height ease .5s
    transition height ease .5s

.ih-background
    position absolute
    background url('../images/food.jpg')
    background-size cover
    background-position center
    width 100%
    height 100%

.ih-info-container
    position relative
    display flex
    flex-direction column
    flex-wrap wrap
    justify-content center
    align-items center
    color #fff

@media (min-width: 960px)
    .ih-info-container
        flex-direction row

.ih-consumed
    font-family Montserrat
    font-size 2em
    text-shadow 0 0 5px #000
    text-align center

@media (min-width: 960px)
    .ih-consumed
        font-size 2.5em
        margin-right 10px

.ih-calories-wrapper
    text-align center

@media (min-width: 960px)
    .ih-calories-wrapper
        margin-left 10px

.ih-calories
    display flex
    flex-direction column
    font-family Montserrat
    color accent
    span:first-child
        font-size 4em
        text-shadow 0 0 2px #000

.ih-calories-warn
    color red

@media (min-width: 960px)
    .ih-calories
        flex-direction row
        span:first-child
            font-size 6em

.ih-calories
    span:last-child
        position relative
        bottom 10px
        font-size 1.6em
        text-shadow 0 0 2px #000

@media (min-width: 960px)
    .ih-calories
        span:last-child
            top 60px
            font-size 2em

.ih-calories-message
    position relative
    text-shadow 0 0 2px #000

@media (min-width: 960px)
    .ih-calories-message
        bottom 10px
        text-align left
