.main-content
    display flex
    flex-wrap wrap
    justify-content center
    position relative
    max-width 1040px
    top 20px

.main-add-meal
    position fixed
    right 40px
    bottom 20px

.main-filter
    position fixed
    right 40px
    bottom 90px

.add-meal-dialog
    width 350px

.add-meal-date
    position relative
    left -12px
    bottom 13px

.add-meal-clock
    color rgba(0,0,0,0.64)

.filter-subtitle
    padding-left 16px

.filter-content
    padding-top 0 !important

.filter-at
    position relative
    bottom 30px