.main-content
    display flex
    flex-wrap wrap
    justify-content center
    position relative
    max-width 1040px
    top 20px

.filter-applied
    margin-top 50px

@media (min-width: 644px)
    .filter-applied
        margin-top 40px

@media (min-width: 960px)
    .filter-applied
        margin-top 60px

.main-add-meal
    position fixed
    right 3%
    bottom 20px

.main-filter
    position fixed
    right 3%
    bottom 90px

.add-meal-dialog
    width 350px

.add-meal-date
    position relative
    left -12px
    bottom 13px

.add-meal-clock
    color rgba(0,0,0,0.64)

.filter-toolbar
    position fixed
    h4
        font-size 16px

.filter-subtitle
    padding-left 16px

.filter-content
    padding-top 0 !important

.filter-at
    position relative
    bottom 30px