<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools header">
        <h2 class="logo">
            <span>eatmeup</span>
        </h2>

        <!-- OPTIONS MENU -->
        <md-menu md-position-mode="target-right target" ng-if="authService.isAuthenticated()">
            <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" aria-label="More">
                <md-icon md-svg-icon="navigation:more_vert"></md-icon>
                <!--md-menu-origin-->
            </md-button>
    
            <md-menu-content md-position-mode="target-right target" width="4">
                <md-menu-item>
                    <md-button ng-click="openSettings($event)">
                        <md-icon md-svg-icon="action:settings" md-menu-align-target></md-icon>
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        <md-icon md-svg-icon="action:power_settings_new"></md-icon>
                        Logout
                    </md-button>
                </md-menu-item>
                <!--<md-menu-divider></md-menu-divider>-->
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>