<section class="info-header" ng-cloak>
    <div class="ih-background"></div>

    <div layout-fill class="ih-info-container">
        <div class="ih-consumed">
            <span ng-if="!isManager && !usernameParams">Today you've consumed</span>
            <span ng-if="isManager && !usernameParams">{{::userShown.username}} today have consumed</span>
            <span ng-if="isManager && usernameParams">User {{::usernameParams}} not found!</span>
        </div>

        <div class="ih-calories-wrapper" ng-if="!usernameParams">
            <div class="ih-calories" ng-class="{'ih-calories-warn': todayCalories > userShown.maximumCaloriesPerDay}">
                <span>{{todayCalories}}</span>
                <span>calories</span>
            </div>
            <div class="ih-calories-message">
                <!-- Regular user -->
                <span ng-if="todayCalories < userShown.maximumCaloriesPerDay && !isManager">
                    You're on track! (less than {{userShown.maximumCaloriesPerDay}} calories)
                </span>
                <span ng-if="todayCalories > userShown.maximumCaloriesPerDay && !isManager">
                    You've exceeded your limit! (more than {{userShown.maximumCaloriesPerDay}})
                </span>
                <span ng-if="todayCalories === userShown.maximumCaloriesPerDay && !isManager">
                    You're in your limit! ({{userShown.maximumCaloriesPerDay}} calories)
                </span>

                <!-- Manager user -->
                <span ng-if="todayCalories < userShown.maximumCaloriesPerDay && isManager">
                    {{::userShown.username}} is on track! (less than {{userShown.maximumCaloriesPerDay}} calories)
                </span>
                <span ng-if="todayCalories > userShown.maximumCaloriesPerDay && isManager">
                    {{::userShown.username}} has exceeded the limit! (more than {{userShown.maximumCaloriesPerDay}})
                </span>
                <span ng-if="todayCalories === userShown.maximumCaloriesPerDay && isManager">
                    {{::userShown.username}} is in the limit! ({{userShown.maximumCaloriesPerDay}} calories)
                </span>
            </div>
        </div>
    </div>
</section>